* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Lemon', cursive, sans-serif;
    background-image: linear-gradient(to right top, #ef91c6, #ea8dcd, #e38ad4, #d987dc, #ce86e4, #b394f3, #96a0fc, #78abff, #53c0ff, #46d2fe, #5ee1f2, #85ede6);
}

#game-title { 
    font-size: 5vh;
    margin: 1.5vmin;
    text-align: center;
    color: #D6279B;
    animation: slideInDown;
    animation-duration: 2s; 
} 

h2, h3 {
    font-size: 3vh;
    margin: 1.5vmin;
    text-align: center;
    color: #696969;
}

h2 {
    color: #00FF00;
    animation: slideInUp;
    animation-duration: 2s;
}

main {
    background-color: #66DBE2;
    border: .3vh solid black;
    border-radius: 5%;
}

#board {
    display: grid;
    grid-template-columns: repeat(7, 8vmin);
    grid-template-rows: repeat(6, 8vmin);
    gap: 2.3vmin;
    height: 60vmin;
    width: 74vmin;
    justify-content: center;
}

#play-buttons {
    display: grid;
    grid-template-columns: repeat(7, 8vmin);
    padding-top: 1.5vmin;
    padding-bottom: 2vmin;
    gap: 1vmin;
    width: 74vmin; 
    justify-content: space-evenly;
    cursor: grab;
}

#play-buttons > div {
    border: .4vmin solid black;
    background-color: #FAF4E0;
    height: 5vmin;
    cursor: grab;
} 

#play-buttons > div:hover {
    background-color: #00ACAF;
}

#board > div {
    border-radius: 50%;
    border: .4vh solid black;
    cursor: not-allowed;
}

#reset-game {
    font-size: 3vh;
    font-weight: bold;
    margin: 1vmin;
    padding: 1vmin;
    border-radius: 2vmin;
    color: #20B2AA;
    font-family: 'Lemon', cursive, sans-serif;
    cursor: grab;
}

button:hover {
    background-color: #FFB6C1;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores {
    font-size: 3vh;
    color: #696969;
} 

.yellow-score {
    color: #F2F680;
}

.red-score {
    color: #C81A1E;
}

/* 1000px and above */
@media only screen and (min-width: 1000px){
    .aside {
        position: fixed; 
        justify-content: right;
        align-self: flex-end;
        margin-right: 5vmin;
        text-align: center;
    }
} 